.detallesCont {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.col {
    max-width: 420px;
    margin: 15px;
    height: auto;
    height: 80%;
}

.peliImg {
    width: auto;
    height: 550px;
    border-radius: 15px;
}

.detalles {
    text-align: justify;
    font-size: 1.3rem;
}

.p1 {
    margin-top: 0;
}

@media(max-width: 560px) {
    .col {
        width: 85%;
        height: auto;
    }
}