.titulo {
    font-size: 2rem;
    color: rgb(25, 27, 29);
    text-shadow: 0 0 7px #bfa5ad;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px 5.3rem;
    background-color: #010911;
    height: auto;
}

.h1 {
    font-size: 2rem;
    margin: 0;
    color: #fae5e5;
    padding-bottom: .22rem;
}

@media(max-width: 560px) {


    .h1 {
        font-size: 1.15rem;
        margin: 13px 6px;

    }

    .titulo {
        min-height: 65px;
        justify-content: space-between;
        padding: 0 1rem;
    }
}